<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.hpc.business.HPCManagerFactory"
            id="net.bioclipse.hpc.business.HPCManager">
      </scriptContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.hpc"
            name="HPC Category">
      </category>
      <view
            class="net.bioclipse.hpc.views.projinfo.ProjInfoView"
            id="net.bioclipse.hpc.views.ProjInfoView"
            name="Project Info">
      </view>
      <view
            class="net.bioclipse.hpc.views.jobinfo.JobInfoView"
            id="net.bioclipse.hpc.views.JobInfoView"
            name="JobInfo">
      </view>
   </extension>
   
   <!-- TODO: What is this?!! -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

   <!-- ======================================= -->
   <!-- Remote Object Popup Menu Actions        -->
   <!-- ======================================= -->
   
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution id="net.bioclipse.hpc.views.JobInfoViewActionContrib" targetID="net.bioclipse.hpc.views.JobInfoView">
         <action id="net.bioclipse.hpc.views.jobinfoaction1"
            label="Refresh"
            toolbarPath="jobinfoaction1"
            class="net.bioclipse.hpc.views.UpdateJobInfoViewAction">
         </action>
      </viewContribution>
   </extension>
   
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution id="net.bioclipse.hpc.views.OpenJobConfigWizardContrib" targetID="net.bioclipse.hpc.views.JobInfoView">
         <action id="net.bioclipse.hpc.views.jobinfoaction2"
            label="Submit New Job"
            toolbarPath="jobinfoaction2"
            class="net.bioclipse.hpc.views.OpenJobConfigWizardAction">
         </action>
      </viewContribution>
   </extension>

   <!-- TODO Maybe take away this later -->
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution id="net.bioclipse.hpc.views.RefreshGalaxyToolConfigsContrib" targetID="net.bioclipse.hpc.views.JobInfoView">
         <action id="net.bioclipse.hpc.views.jobinfoaction1"
            label="Update ToolConfigs"
            toolbarPath="jobinfoaction3"
            class="net.bioclipse.hpc.views.RefreshGalaxyToolConfigsAction">
         </action>
      </viewContribution>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
               objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
               id="actions.showProjInfo">
           <action
                   label="Show Project Info"
                   tooltip="Show detailed info about current project quotas etc."
                   class="samples.ui.actions.ShowContents"
                   menubarPath="additions"
                   enablesFor="1"
                   id="actions.txt.projinfo">
           </action>
       </objectContribution>       
    </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
               objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
               nameFilter="*.sh"
               id="actions.execScriptAsBatchJob">
           <action
                   label="Submit as Slurm Batch Job"
                   tooltip="Assumes that the script includes the required #SBATCH parameters, so that it can simply be sent to sbatch as is..."
                   class="net.bioclipse.hpc.wizards.ExecScriptAsBatchJobAction"
                   menubarPath="additions"
                   enablesFor="1"
                   id="net.bioclipse.hpc.wizards.action2">
           </action>
       </objectContribution>       
    </extension>        

	<extension point="org.eclipse.ui.preferencePages">
	 	<page id="BioclipseHPCMainPreferencePage"
	 		name="HPC Integration"
	    		class="net.bioclipse.hpc.preferences.HPCPreferencePage">
	   	</page>
	</extension>
</plugin>
