<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.hpc.business.HPCManagerFactory"
            id="net.bioclipse.hpc.business.HPCManager">
      </scriptContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.hpc"
            name="HPC Category">
      </category>
      <view
            class="net.bioclipse.hpc.views.ProjInfoView"
            id="net.bioclipse.hpc.views.ProjInfoView"
            name="Project Info">
      </view>
      <view
            class="net.bioclipse.hpc.views.JobInfoView"
            id="net.bioclipse.hpc.views.JobInfoView"
            name="JobInfo">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

   <!-- ======================================= -->
   <!-- Remote Object Popup Menu Actions        -->
   <!-- ======================================= -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
               objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
               id="actions.showProjInfo">
           <action
                   label="Show Project Info"
                   tooltip="Show detailed info about current project quotas etc."
                   class="samples.ui.actions.ShowContents"
                   menubarPath="additions"
                   enablesFor="1"
                   id="actions.txt.projinfo">
           </action>
       </objectContribution>       
    </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
               objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
               id="actions.execCmdWizard">
           <action
                   label="Execute Command through a Wizard"
                   tooltip="TODO: Some description here..."
                   class="net.bioclipse.hpc.wizards.ExecuteCommandAction"
                   menubarPath="additions"
                   enablesFor="1"
                   id="net.bioclipse.hpc.wizards.action1">
           </action>
       </objectContribution>       
    </extension>    
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
               objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
               nameFilter="*.sh"
               id="actions.execScriptAsBatchJob">
           <action
                   label="Submit as Slurm Batch script"
                   tooltip="Assumes that the script includes the required #SBATCH parameters, so that it can simply be sent to sbatch as is..."
                   class="net.bioclipse.hpc.wizards.ExecScriptAsBatchJobAction"
                   menubarPath="additions"
                   enablesFor="1"
                   id="net.bioclipse.hpc.wizards.action2">
           </action>
       </objectContribution>       
    </extension>        
   <!-- extension point="org.eclipse.ui.popupMenus">
      <objectContribution
               objectClass="java.lang.Object"
               id="actions.execCmdWizard2">
           <action
                   label="Execute Command through a Wizard"
                   tooltip="TODO: Some description here..."
                   class="net.bioclipse.hpc.wizards.ExecuteCommandAction"
                   menubarPath="additions"
                   enablesFor="1"
                   id="net.bioclipse.hpc.wizards.action2">
           </action>
       </objectContribution>       
    </extension -->    
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="net.bioclipse.hpc.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   
   
</plugin>
