<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.uppmax.business.UppmaxManagerFactory"
            id="net.bioclipse.uppmax.business.UppmaxManager">
      </scriptContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.uppmax"
            name="UPPMAX Category">
      </category>
      <view
            category="net.bioclipse.uppmax"
            class="net.bioclipse.uppmax.views.UppmaxView"
            icon="icons/sample.gif"
            id="net.bioclipse.uppmax.views.UppmaxView"
            name="UPPMAX View">
      </view>
      <view
            class="net.bioclipse.uppmax.views.ProjInfoView"
            id="net.bioclipse.uppmax.views.ProjInfoView"
            name="Project Info">
      </view>
      <view
            class="net.bioclipse.uppmax.views.JobInfoView"
            id="net.bioclipse.uppmax.views.JobInfoView"
            name="JobInfo">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

   <!-- ======================================= -->
   <!-- Remote Object Popup Menu Actions        -->
   <!-- ======================================= -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
               objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
               id="actions.showProjInfo">
           <action
                   label="Show Project Info"
                   tooltip="Show detailed info about current project quotas etc."
                   class="samples.ui.actions.ShowContents"
                   menubarPath="additions"
                   enablesFor="1"
                   id="actions.txt.projinfo">
           </action>
       </objectContribution>       
    </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
               objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
               id="actions.execCmdWizard">
           <action
                   label="Execute Command through a Wizard"
                   tooltip="TODO: Some description here..."
                   class="net.bioclipse.uppmax.wizards.ExecuteCommandAction"
                   menubarPath="additions"
                   enablesFor="1"
                   id="net.bioclipse.uppmax.wizards.action1">
           </action>
       </objectContribution>       
    </extension>    
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="net.bioclipse.uppmax.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   
   
</plugin>
